version: 1.0.{build}

# https://developercommunity.visualstudio.com/content/problem/457095/cannot-bind-temporary-int-object-to-an-rvalue-refe.html
# ^ this issue has caused support to be dropped for Visual Studio 2017
image:
  - Visual Studio 2019

test: on

build:
  parallel: true

platform:
  - x64

environment:
  matrix:
    - PYTHON: 36
      CPP: 14
      CONFIG: MinSizeRel
      EXAMPLES: "ON"
    - PYTHON: 37
      CPP: 17
      CONFIG: RelWithDebInfo
      EXAMPLES: "OFF"
    - CONDA: 36
      CPP: 14
      CONFIG: MinSizeRel
      EXAMPLES: "OFF"
    - CONDA: 37
      CPP: 17
      CONFIG: Release
      EXAMPLES: "OFF"
    - PYTHON: 38
      CPP: 17
      CONFIG: MinSizeRel
      EXAMPLES: "ON"
    - CONDA: 38
      CPP: 14
      CONFIG: MinSizeRel
      EXAMPLES: "ON"

install:
  # Configure environment
  - ps: |
      # CMake architecture
      if ($env:PLATFORM -eq "x64") {
        $env:CMAKE_ARCH = "x64"
      }

      # CMake generator
      if ($env:APPVEYOR_JOB_NAME -like "*Visual Studio 2017*") {
        $env:CMAKE_GENERATOR = "Visual Studio 15 2017"
      } else {
        $env:CMAKE_GENERATOR = "Visual Studio 16 2019"
      }

      # Python environment
      if ($env:PYTHON) {
        if ($env:PLATFORM -eq "x64") {
          $env:PATH = "C:\Python$env:PYTHON-x64;C:\Python$env:PYTHON-x64\Scripts;C:\Users\appveyor\AppData\Roaming\Python\Python$env:PYTHON\Scripts;$env:PATH"
          $env:CMAKE_PREFIX_PATH = "C:\Python$env:PYTHON-x64;C:\Python$env:PYTHON-x64\Scripts"
          $env:PYTHON_EXE = "C:\Python$env:PYTHON-x64\python.exe"
        } else {
          $env:PATH = "C:\Python$env:PYTHON;C:\Python$env:PYTHON\Scripts;C:\Users\appveyor\AppData\Roaming\Python\Python$env:PYTHON\Scripts;$env:PATH"
          $env:CMAKE_PREFIX_PATH = "C:\Python$env:PYTHON;C:\Python$env:PYTHON\Scripts"
          $env:PYTHON_EXE = "C:\Python$env:PYTHON\python.exe"
        }
        python -m pip install --disable-pip-version-check --user --upgrade pip wheel
        python -m pip install --user cython numpy matplotlib pillow
      } elseif ($env:CONDA) {
        if ($env:PLATFORM -eq "x64") {
          $env:PATH = "C:\Miniconda$env:CONDA-x64;C:\Miniconda$env:CONDA-x64\Scripts;$env:PATH"
          $env:CMAKE_PREFIX_PATH = "C:\Miniconda$env:CONDA-x64;C:\Miniconda$env:CONDA-x64\Scripts"
          $env:PYTHONHOME = "C:\Miniconda$env:CONDA-x64"
          $env:PYTHON_EXE = "C:\Miniconda$env:CONDA-x64\python.exe"
        } else {
          $env:PATH = "C:\Miniconda$env:CONDA;C:\Miniconda$env:CONDA\Scripts;$env:PATH"
          $env:CMAKE_PREFIX_PATH = "C:\Miniconda$env:CONDA;C:\Miniconda$env:CONDA\Scripts"
          $env:PYTHONHOME = "C:\Miniconda$env:CONDA"
          $env:PYTHON_EXE = "C:\Miniconda$env:CONDA\python.exe"
        }
        conda update -y -q -n base conda
        conda install -y -c defaults -c conda-forge -q pip setuptools scikit-build numpy matplotlib pillow cython
      }
      $env:TIMEMORY_FILE_OUTPUT = "OFF"
      $env:TIMEMORY_AUTO_OUTPUT = "OFF"
      mkdir "C:\Users\appveyor\CTestTemp"
      $env:TEMP = "C:\Users\appveyor\CTestTemp"

build_script:
  - mkdir build-timemory
  - cd build-timemory
  - cmake .. -G "%CMAKE_GENERATOR%" -A "%CMAKE_ARCH%"
    -DBUILD_STATIC_LIBS=ON
    -DBUILD_SHARED_LIBS=ON
    -DCMAKE_BUILD_TYPE="%CONFIG%"
    -DCMAKE_CXX_STANDARD="%CPP%"
    -DCMAKE_INSTALL_PREFIX=..\install-timemory
    -DPYTHON_EXECUTABLE="%PYTHON_EXE%"
    -DTIMEMORY_USE_MPI=OFF
    -DTIMEMORY_USE_PYTHON=ON
    -DTIMEMORY_BUILD_C=ON
    -DTIMEMORY_BUILD_PYTHON=ON
    -DTIMEMORY_BUILD_EXAMPLES="%EXAMPLES%"
    -DTIMEMORY_BUILD_GOOGLE_TEST=OFF
    -DTIMEMORY_BUILD_TOOLS=ON
  - set MSBuildLogger="C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
  - cmake --build . --config "%CONFIG%" --target ALL_BUILD -- /m /v:m /logger:%MSBuildLogger%
  - cmake --build . --config "%CONFIG%" --target INSTALL -- /m /v:m /logger:%MSBuildLogger%
  - ls
  - ps: |
      if ($env:EXAMPLES -eq "ON") {
        "./outputs/runtime/%CONFIG%/ex_optional_off.exe"
        "./outputs/runtime/%CONFIG%/ex_cxx_basic.exe"
        "./outputs/runtime/%CONFIG%/ex_optional_on.exe"
        "./outputs/runtime/%CONFIG%/ex_cxx_overhead.exe"
        "./outputs/runtime/%CONFIG%/ex_cxx_tuple.exe"
        "./outputs/runtime/%CONFIG%/ex_c_minimal.exe"
        "./outputs/runtime/%CONFIG%/ex_c_minimal_library.exe"
        "./outputs/runtime/%CONFIG%/ex_c_timing.exe"
      }
  - cmake -P tests/test-python-install-import.cmake
