
# QtCreator config file
/CMakeLists.txt.user*

# Ninja-IDE project files
/*.nja
settings.json

# Edit files
*~

# build directories
/build-*
/build
/_skbuild

# setup.py files
/dist*
/TiMemory.*
/timemory.*
__pycache__
*.pyc

# miscellaneous
timing_report*
/test_output*

# macOS Finder files
.DS_Store

# setup.py
/TiMemory-*
/dist
/.eggs

# info files
/timemory/mpi_support/*.txt

# unused examples
/examples/ex4

# documentation
/html
/docs
