[submodule "source/cereal"]
	path = external/cereal
	url = https://github.com/jrmadsen/cereal.git
[submodule "source/python/pybind11"]
	path = external/pybind11
	url = https://github.com/jrmadsen/pybind11.git
[submodule "source/google-test"]
	path = external/google-test
	url = https://github.com/google/googletest.git
[submodule "external/caliper"]
	path = external/caliper
	url = https://github.com/jrmadsen/Caliper.git
[submodule "external/gotcha"]
	path = external/gotcha
	url = https://github.com/jrmadsen/GOTCHA.git
