[submodule "source/cereal"]
	path = source/cereal
	url = https://github.com/jrmadsen/cereal.git
[submodule "source/python/pybind11"]
	path = source/python/pybind11
	url = https://github.com/jrmadsen/pybind11.git
