
# QtCreator config file
/CMakeLists.txt.user

# Ninja-IDE project files
/*.nja

# Edit files
*~

# build directories
/build*

# setup.py files
/dist*
/TiMemory.*
/timemory.*

# miscellaneous
timing_report*
