# direct includes
include CMakeLists.txt
include .version.txt
include LICENSE
include .license.c
include .license.py
include README.md
include CHANGES.rst
include timemory/timemory.py
include cmake/Scripts/generator2file.cmake
# recursive includes
recursive-include cmake *
recursive-include examples *
recursive-include pybind11 *
recursive-include source *
recursive-include timemory *.py*
# global exclude
global-exclude *.pyc
global-exclude *.git*
global-exclude *__pycache__*
# recursive excludes
recursive-exclude pybind11/docs/.build *
recursive-exclude examples/ex3 *
recursive-exclude cmake/Scripts *.sh
