
# direct includes

include CMakeLists.txt
include VERSION
include LICENSE
include README.md
include CHANGES.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include requirements.txt
include update-conda-yaml.py

# recursive includes

recursive-include cmake *
recursive-include recipe *
recursive-include examples *
recursive-include external *
recursive-include source *
recursive-include timemory *
recursive-include tests *
recursive-include scripts *
recursive-include .misc *
recursive-include .requirements *

# global exclude

global-exclude *.pyc
global-exclude *.git*
global-exclude *__pycache__*

# recursive excludes

recursive-exclude timemory.egg-info *
recursive-exclude _skbuild *
recursive-exclude build *
recursive-exclude dist *
